#map {
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed;
}
.wrap {
    min-width: 0px; 
    min-height: 0px; 
    max-width: 99999px; 
    max-height: none; 
    border: 0px; 
    display: block; 
    position: absolute; 
    user-select: none; 
    -webkit-user-drag: none; 
    clip: rect(0px, 29px, 42px, 0px); 
    top: 0px; 
    left: 0px; 
    width: 29px; 
    height: 42px
}
.title style{
    font-size: 100px;
}