.sidebar-container{

}
.sidebar {
    width: 300px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    position: fixed;
    
}

.sidebar-button {
    position: absolute;
    left: 310px;
    top: 5px;
    width: 25px;
    height :25px;
    z-index: 3;
    border: 1px solid;
    border-radius: 40px;
    overflow: hidden;
    
}