.sidebar-container {}

.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 3;
    position: fixed;
    padding-top: 50px;
    word-break: break-all;
}

.close-sidebar-button {
    left: 310px;
    top: 13px;
    width: 35px;
    z-index: 3;
    position: fixed;
    
}

.open-sidebar-button {
    left: 5px;
    top: 5px;
    z-index: 2;
    width: 35px;
    height: 35px;
    position:fixed
}

.search {
    position: absolute;
    width: 250px;
    left: 20px;
    top: 20px;
    z-index: 2;
    float: left;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    border-color: rgb(225, 196, 88);
    box-shadow: 0 0 4px 0 rgb(227, 119, 65);
}

.contents {
    margin-top: 30px;
    margin-left:12px;
    margin-right: 12px;
}